body {
  color: #e0e0e0;
  background-color: #202124;
}

code {
  color: white;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}
h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}
h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}
h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}
h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}
h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

.toc {
  background-color: #272822;
  color: white;
}

a {
  color: inherit;
}
a:hover {
  color: var(--darkHovercolor);
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: var(--darkMaincolor);
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}

.callout-alert {
  color: #ffffff;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #ff6347;
}

.callout-custom {
  color: #ffffff;
}

.callout-tip {
  color: #ffffff;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: dodgerblue;
}

.callout-warning {
  color: #ffffff;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #ffd700;
}
