/* Markdown */
:root{
--maincolor: #fe8019;
--bordercl: #fe8019;
--callouctcolor:dodgerblue;
--hovercolor:#2156a5;
--darkMaincolor: #fe8019;
--darkHovercolor: #6fa8ff;
--footer-padding: 1rem 0rem;
}
html {
  color: #232333;
  font-family: 'EB Garamond', serif;
  font-size-adjust: ex-height 0.53;
  line-height: 1.7em;
}
body{
  display: block;
  max-width: 80ch;
  padding: 2ch;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  hyphens: auto;
  text-align: justify;
}

sup[id^="fnref"] {
  font-size: 0.7em;
  vertical-align: baseline;
  position: relative;
  top: -0.7em;
  display: inline-block;
}

hr {
  border: 0;
  border-top: 3px dotted var(--bordercl);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  text-decoration-thickness: 7%;
  color: inherit;
}

a:hover {
  color: var(--hovercolor);
}

a.url { word-break: break-all; }
ol, ul, dd { padding-left: 3ch; }
ul {
  list-style-type: circle;
}

/* Images */
img {
  border: 3px solid #ececec;
  max-width: 100%;
}

article section > *, .footnotes > hr
{ max-width: 60ch; }

.footnotes > ol > li > p
{ max-width: calc(60ch - 40px); }

.footnotes, .footnotes ol, .footnotes li, div.highlight
{ max-width: 80ch; }

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  padding: .1em .2em;
  font-family: 'Iosevka Fixed Web', monospace;
  font-size: 105%;
}
p>code { white-space: nowrap; }

pre {
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 2.5em;
}

header .main {
  display: flex;
  flex-grow: 2;
  font-size: 1.5rem;
}

header .main > a {
  flex-grow: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-wrap: balance;
  line-height: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}

.post-entry h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.post-entry {
  margin-top: 1.2em;
}

h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code {
  font-weight: 300;
}

h1::before { color: var(--maincolor); content: '# '; }
h2::before { color: var(--maincolor); content: '## '; }
h3::before { color: var(--maincolor); content: '### '; }
h4::before { color: var(--maincolor); content: '#### '; }
h5::before { color: var(--maincolor); content: '##### '; }
h6::before { color: var(--maincolor); content: '###### '; }

nav > a {
  padding: 5px;
  text-decoration: none;
}

nav > a:hover {
  color: inherit;
  text-decoration-thickness: 7%;
  text-decoration: underline;
}

.main > a {
  text-decoration: none;
}
.main > a:hover {
  color: inherit;
  text-decoration-thickness: 7%;
  text-decoration: underline;
}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

.post-container {
  align-items: flex-start;
  display: flex;
  gap: 20px;
}

.post-content {
  flex: 3;
  min-width: 0;
}

.toc {
  background-color: #ececec;
  border-radius: 5px;
  color: #232333;
  flex: 0 0 auto;
  height: auto;
  margin-left: 20px;
  max-width: 300px;
  overflow-y: auto;
  padding: 10px;
  position: sticky;
  top: 20px;
}

/* Footer */
footer {
  margin: auto;
  text-align: center;
  border-top: 0.4rem dotted var(--bordercl);
  padding: 2rem 0rem;
  margin-top: 2rem;
}
footer div {
  padding: 2rem, 2rem;
}
.soc {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.soc svg {
  max-height: 21px;
}
.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}
.border:last-child {
  display: none;
}
.footer-info {
  padding: var(--footer-padding);
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

h1 > a {
  text-decoration: none;
}

h1 > a:hover {
  color: inherit;
  text-decoration-thickness: 7%;
  text-decoration: underline;
}

time {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Posts */
article .title {
  margin-bottom: 0.5em;
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout-alert {
  color: #000000;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #ff6347;
}

.callout-custom {
  color: #000000;
}

.callout-tip {
  color: #000000;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: dodgerblue;
}

.callout-warning {
  color: #000000;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #ffd700;
}

.site-description {
display: flex;
justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
svg{
  max-height: 15px;
}
.soc:hover{
  color: var(--maincolor);
}
.draft-label{ 
    color: var(--bordercl);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
